# MySQL
MYSQL_DATABASE=arena_gamer_db
MYSQL_USER=arena
MYSQL_PASSWORD=arena123
MYSQL_ROOT_PASSWORD=root123

# Base de datos (microservicios)
DB_HOST=mysql
DB_PORT=3306
DB_NAME=arena_gamer_db
DB_USER=arena
DB_PASSWORD=arena123

# Perfiles
SPRING_PROFILES_ACTIVE=mysql

# URLs inter-servicio (Docker)
USER_SERVICE_URL=http://user-service:8081
STATION_SERVICE_URL=http://station-service:8083
SESSION_SERVICE_URL=http://session-service:8082
INVENTORY_SERVICE_URL=http://arena-inventory:9001
RESERVAS_SERVICE_URL=http://arena-reservas:9000
WALLET_SERVICE_URL=http://arena-wallet:8085
LOYALTY_SERVICE_URL=http://loyalty-service:8087
HARDWARE_SERVICE_URL=http://hardware-monitor:8090
NOTIFICATION_SERVICE_URL=http://notification-service:8089
TOURNAMENT_SERVICE_URL=http://tournament-service:8088

# session-service inter-servicio
SERVICES_USER_SERVICE_URL=http://user-service:8081
SERVICES_STATION_SERVICE_URL=http://station-service:8083
SERVICES_WALLET_SERVICE_URL=http://arena-wallet:8085
SERVICES_LOYALTY_SERVICE_URL=http://loyalty-service:8087